
#formbackground, #listbackground {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 35px;
    background-image: url('../../assets/fitgroupdrawblue1.png');
    background-size:cover;
    color: white;
}
