
#formbackground {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 35px;
    background-image: url('../../assets/fitgroupdrawblue1.png');
    background-size:cover;
    color: white;
    

    
}

.card-title2{
    text-align: center;
    margin-bottom: 15px;

}

#todolist{
    margin-right: 15px;
}
