

body{
    background-color: #9bc1fe !important;
  
}

.jumbotron {
    background-image: url('../../assets/fitgroupdrawblue1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(50vh - 15px);
    /* background-color: #b8cde1; */
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    color: white;
}

#title {
    font-size: 120px ;
}

#home {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    
}