

body{
    background-color: #aec4e8 !important;
  
}

.jumbotron {
    background-image: url('../../assets/fitgroupdrawblue1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(50vh - 15px);
    /* background-color: #b8cde1; */
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    color: rgb(255, 255, 255);
}

#title {
    font-size: 12vw;
    color: lightseagreen !important;
}

#subtitle {
    font-size: 3vw;
    color: white !important;
}

#home {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    
}

.footer {
    font-size: 1.5vw;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}


