.toDoList{
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}

.toDoItemH4{
    margin-bottom: 20px; 
}

.toDoItemButton{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.todoItemButtonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
