@tailwind base;
@tailwind components;
@tailwind pages;

body {
  margin: 0;
  background-color: rgb(72, 109, 139);
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: garamond; */
  
}

code {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
