@tailwind base;
@tailwind components;
@tailwind pages;

body {
  margin: 0;
  font-family: milo;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: milo;
}


